

.TopbarTemplateGC{
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;

  .inner{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    .header-title{
      font-size: 32px;
      font-weight: 600;
    }

    .user-details{
      margin-left: auto;
      display: flex;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      align-items: center;

      .name-title{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 12px;

        .fullname{
          font-size: 16px;
          font-weight: 600;
          font-style: normal;

        }
      }
    }
  }

  .circle-bg{
    position: absolute;
    top: 0px;
    left: -20px;
  }

  .circle-bordered-bg{
    position: absolute;
    top: 0px;
    left: 40%;
  }
  .circle-bordered-bg-2{
    position: absolute;
    top: 0px;
    left: 60%;
  }

  .polygon-bg{
    position: absolute;
    top: 0px;
    right: 0px;
  }
}